
<div class= "NewuSerImgback">
<p class="Hello">Edit Tailor</p>
<div class="imgUser">
  <%= image_tag @tailor.image_url(:thumb).to_s%>
</div>
</div>
<div class="formSpace4"></div>
<div class = "NEwuserfromA">
<%= render 'form' %>
</div>
<div class="canceled">
  <%= link_to content_tag(:i, nil, :class => "fa fa-chevron-left fa-3x"), companies_path %>
</div>


<% if current_company != nil %>
<div class="canceled">
  <%= link_to content_tag(:i, nil, :class => "fa fa-chevron-left fa-3x"), companies_path %>
</div>
<% else %>
<div class="canceled">
  <%= link_to content_tag(:i, nil, :class => "fa fa-chevron-left fa-3x"), tailors_dashboard_path %>
</div>
<% end %>
