<h2>Tailor Show Page!</h2>

<p>
  this is currently Tailor:
  <%= @tailor.first_name %>
  <div class="edit">
    <td><%= link_to 'My Settings', edit_tailor_path(current_tailor) %></td>
  </div>
</p>


<h2> Availability </h2>

<%= render '/availabilities/form' %>

<h3>Your Appointments</h3>
<table>
  <thead>
    <tr>
      <th>USER</th>
      <th>ADDRESS</th>
      <th>TIME</th>
    </tr>
  </thead>
<br>
  <tbody>
    <% @appointments.each do |a| %>
      <% if a.tailor_id == current_tailor.id%>
        <div class="tailAvailAptsZ">
          <tr>
            <td><%= a.user.first_name %> </td>
            <td><%= a.address %> </td>
            <td><%= a.appointment_time.to_s[0...-7] %> </td>
          </tr>
        </div>
      <% end %>
    <% end %>

  </tbody>
</table>

<h3>Available Appointments</h3>
<table>
  <thead>
    <tr>
      <th>USER</th>
      <th>ADDRESS</th>
      <th>TIME</th>
    </tr>
  </thead>
<br>
  <tbody>
    <% @appointments.each do |a| %>
      <tr>
        <% if a.tailor_id == nil%>
          <td><%= a.user.first_name %> </td>
          <td><%= a.address %> </td>
          <td><%= a.appointment_time.to_s[0...-7] %> </td>
          <td><%= link_to 'add', tailor_appointment_path(@tailor, a ), method: :add_tailor_to_appointment %></td>
      </tr>
      <% end %>
    <% end%>
  </tbody>
</table>
