<%= simple_form_for([@appointment, @article]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <span id="dropdownOther"><strong>Kind:</strong><%= f.select :kind, [ "Suit", "Jacket", "Trouser", "Shirt", "Dress", "Other" ], {:include_blank => 'Jeans'} %></span>
    <%# f.input :quantity, priority: [1], collection: [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>

    <%# f.input :kind %>
    <%= f.input :quantity %>
    <%= f.input :other %>
    <%# f.association :appointment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
