
<%= simple_form_for @user, :html => {:multipart => true} do |f| %>
  <p>
    Upload your profile picture
  </p>
  <%= f.file_field :image %>
  <%# f.text_field :remote_image_url %>
  <%= f.input :first_name, :placeholder => "First name" %>
  <%= f.input :last_name, :placeholder => "Last name"%>
  <%= f.input :address, :placeholder => "Address" %>
  <%= f.input :zip, :placeholder => "Zipcode" %>
  <%= f.input :phone, :placeholder => "Phone number" %>
  <%= f.input :email, :placeholder => "Email" %>
  <%= f.input :password, :placeholder => "password" %>
  <%= f.input :password_confirmation, :placeholder => "password confirmation" %>
  <%= f.button :submit %>
<% end %>
