<h1>Users Dashboard</h1>
<p>
  Hello <span id="userGreeting"><%= current_user.first_name %></span>,
</p>

<div class="edit">
  <td><%= link_to 'My Account', edit_user_path(current_user) %></td>
</div>

<h3>New appointment</h3>


<%= link_to 'New appointments', new_appointment_path %>

<h3>Appointments</h3>


<ul>
  <% current_user.appointments.each do |a| %>
  <li>current status: <span class="aptInfo" id=""><%= a.stages %></span></li>
  <li>Appointment Time: <span class="aptInfo"><%= a.appointment_time.to_time.to_s[0...-5] %></span></li>
  <li>Appointment Address: <span class="aptInfo"><%= a.address %></span></li>
  <li> <span class="addArticles"> <%= link_to 'Add Articles', new_appointment_article_path(a) %></span> |
  <span class="aptInfo"> <%= link_to 'Edit', edit_appointment_path(a) %></span> |
  <span><%= link_to 'Destroy', a, method: :delete, data: { confirm: 'Are you sure?' } %></span></li>
  <% end %>
</ul>


<h3>Availabilities</h3>
<%= render '/availabilities/list' %>

<!--
<thead>
  <th class"aptInfoHead">STATUS</th>
  <th class"aptInfoHead">TIME</th>
  <th class"aptInfoHead">ADDRESS</th>
</thead>
<tbody>
  <% current_user.appointments.each do |a| %>
  <td><span class="aptInfo" id=""><%# a.stages %></span></td>
  <td><span class="aptInfo"><%# a.appointment_time.to_time.to_s[0...-5] %></span></td>
  <td><span class="aptInfo"><%# a.address %></span></td>
  <td> <span class="aptInfo"> <%# link_to 'Edit', edit_appointment_path(a) %></span> |
  <span><%# link_to 'Destroy', a, method: :delete, data: { confirm: 'Are you sure?' } %></span></td>
  <% end %>
</tbody> -->
