
<div id="userDashContainer">
  <p id="notice"><%= flash[:notice] %></p>
<div class="dBackground">


<div class="Hello">
  Hello <span id="userGreeting"><%= current_user.first_name %></span>
</div>
<div class="imgUser">
  <%= image_tag @user.image_url(:thumb).to_s%>
</div>
</div>

<div class="DashbContent">

  <div class='editbutton'>
    <%= link_to 'Edit Profile', edit_user_path(current_user)%>
  </div>
  <div class="Appoinlist">
    <ul style="margin-bottom: 0px;">

      <h4> Appointments </h4>
      <% if current_user.appointments.blank? %>
      <p style="margin-bottom: 0px;">
        You have no appointments <i class="fa fa-thumbs-o-down"></i>
      </p>
      <% else %>
      <% current_user.appointments.each do |a| %>
      <li>Current status: <span class="aptInfofirst" id=""><%= a.stages %></span></li>
      <li>Appointment Time: <span class="aptInfo"><%= a.appointment_time.strftime('%A, %d %b %Y %l:%M %p') %></span></li>
      <li>Appointment Address: <span class="aptInfo"><%= a.address %></span></li>
      <span class="aptInfo"> <%= link_to 'Edit', edit_appointment_path(a) %></span> |
      <%= link_to 'Destroy', a, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<div class="Appoinlist">
      <h5>Items</h5>
      <span class="addArticles"> <%= link_to 'Add Articles', new_appointment_article_path(a) %></span>
      <% a.articles.each do |art| %>
        <li><%= art.kind %> | <%= art.quantity %> </li>
        <li><%= link_to 'Edit', edit_article_path(art) %></li>
        <li><%= link_to 'Destroy', art, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <% end %>
    <% end %>
    <% end %>
    </ul>

  </div>

  <div class="Appoinlistb">

    <div>
<!-- <h3>Availabilities</h3>
<%# render '/availabilities/list_availability' %> -->

</div>


<!-- <h3>Availabilities</h3> -->
<%#render '/availabilities/listavailability' %>
<div class="calendar">
<% @days.each do |day| %>
<a style="display:block" href="availabilities/index">
<div class="weekday">
  <p><span class="arrow">></span><br /></p>
  <h4><%= day.strftime("%A") %></h4>
  <% end %>
</div>
  </a>


<a style="display:block" href="availabilities/index">
<div class="weekday">
  <p>Tuesday<span class="arrow">></span><br /></p>
</div>
</a>

<a style="display:block" href="availabilities/index">
<div class="weekday">
  <p>Wednesday<span class="arrow">></span><br /></p>
</div>
</a>

<a style="display:block" href="availabilities/index">
  <div class="weekday">
  <p>Thursday<span class="arrow">></span><br /></p>
</div>
</a>

<a style="display:block" href="availabilities/index">
  <div class="weekday">
  <p>Friday<span class="arrow">></span><br /></p>
</div>
</a>

<a style="display:block" href="availabilities/index">
  <div class="weekday">
  <p>Saturday<span class="arrow">></span><br /></p>
</div>
</a>

<a style="display:block" href="availabilities/index">
  <div class="weekday">
  <p>Sunday<span class="arrow">></span><br /></p>
</div>
</a>

</div>
