<%= form_for(@appointment) do |f| %>
  <%= hidden_field_tag("tailor_id", params[:tailor_id]) %>
  <%= hidden_field_tag("availability_id", params[:availability_id]) %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>
      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%# raise %>
  <!-- <div class="field">    Will not be displayed because appointment_time will be set by tailor
    <%= f.label :stages %><br>
    <%= f.text_field :stages %>
  </div> -->
  <div class="field">
    <%# f.label :address%><br>
    <%= f.text_field :address, :placeholder => 'Address' %>
  </div>
  <div class="field hidden">  <!-- Will not be displayed because appointment_time will be set by avail -->
    <%= f.label :appointment_time %><br>
    <%= f.datetime_select :appointment_time  %>
    <%# f.datetime_select :appointment_time , :disabled => true %>

  </div>
  <div class="field">
    <span id="dropdownOther"><strong>Service:</strong><%= f.select :service, ["Next Day", "Express", "Sunday & Holiday"], {:include_blank => 'Standar'} %></span>
  </div>
  <div class="field">
    <%# f.label :pickup_location %><br>
    <%= f.text_field :pickup_location, :placeholder => 'different location?' %>
  </div>
  <div class="field">
    <%# f.label :zip %><br>
    <%= f.text_field :zip, :placeholder => 'Zipcode' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
