<%
  today = DateTime.current
  avails = @availabilities.to_a
  # assigns routing to dashboard through availability controller.
  @availability ||= Availability.new
%>
<% if @availability.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

    <ul>
      <% @availability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="calendar">
  <% (0..6).each do |day| %>
    <div class="day ">
      <% this_day = today.beginning_of_week + day.days %>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#<%= this_day.strftime('%Y%m%d') %>" aria-expanded="true" aria-controls="collapseOne">
                <span class="date"><%= this_day.strftime('%A %B %d') %></span>
              </a>
            </h4>
          </div>
          <div id="<%= this_day.strftime('%Y%m%d') %>" class="panel-collapse collapsed collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">

              <% 6.upto(20) do |hour| %>
                <div>
                  <span class="time">
                    <%
                      this_datetime = this_day.to_datetime.change(hour: hour)
                      availability = avails.find { |a| a.start == this_datetime }
                      checked = !availability.nil?
                    %>
                    <%= this_datetime.strftime('%I:%M %p') %>
                    <%= check_box_tag this_datetime.to_s, this_datetime.to_s, checked, class: "avail", data: {availability:  (checked ? availability.id : '') } %>
                  </span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
