<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <title>TailorUp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>


<div class="homeButton">
    <% if current_tailor || current_company || current_user %>
        <% if current_user %>
            <%= link_to content_tag(:i, nil, :class => "fa fa-scissors fa-3x"), dashboard_path %>
        <% elsif current_company  %>
            <%= link_to content_tag(:i, nil, :class => "fa fa-scissors fa-3x"), companies_path %>
        <% elsif current_tailor %>
            <%= link_to content_tag(:i, nil, :class => "fa fa-scissors fa-3x"), tailors_dashboard_path %>
        <% else %>
        <% end %>
      <% else %>
    <%= link_to content_tag(:i, nil, :class => "fa fa-scissors fa-3x"), root_path %>
<% end %>

</div>
    <div class="userLog">
      <% if current_tailor || current_company || current_user %>
        <%= link_to 'logout', logout_path, method:"delete"%>
      <% else %>

      <%= link_to 'login', new_session_user_path%>
      <% end %>
    </div>
<%= yield %>

</body>
</html>
