
<% if current_company %>
<div class="">
    <%= link_to 'Company Logout', logout_path, method:"delete"%>
</div>
<% else %>
<div class="">
  <%= link_to 'Company Login', new_company_path%>
</div>
<% end %>

<% if current_user %>
<div class="">
    <%= link_to 'User Logout', logout_path, method:"delete"%>
</div>
<% else %>
<div class="">
  <%= link_to 'User Login', new_session_user_path%>
</div>
<% end %>
<% if current_tailor %>
<div class="">
    <%= link_to 'Tailor Logout', logout_path, method:"delete"%>
</div>
<% else %>
<div class="">
  <%= link_to 'Tailor Login', new_session_tailor_path%>
</div>
<% end %>


<!DOCTYPE html>
<html>
<head>
  <title>TailorUp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
